<div class="container">
    <div class=" py-5">
        <h2 class="text-center text-main ">All WishList Products</h2>
    
    </div>
    <div  class="row align-items-center" *ngFor="let item of allproduct">
        <div class="col-md-3">
            <div>
                <img [src]="item.imageCover" class="w-100" alt="">
            </div>
        </div>
        <div class="col-md-3 ">
            <p class="text-main">{{item.title}}</p>
            <p class="text-muted">{{item.category.name}}</p>
            <p>price: {{item.price}}</p>
           
        </div>
        <div class="offset-3 col-md-3 d-flex  align-items-center">
            <i (click)="RemoveItem(item._id)" class="fa-solid fa-trash text-danger cursor-pointer d-block p-2"></i>
            <button class="btn bg-main text-white " (click)="AddCart(item._id)">Add To Cart</button>
    </div>
       
    </div>
    
</div>